  <small class="">
    <a>Back to Applications</a>
  </small>

  <div class="mb-3 mt-3">
    <h3>
      {{application.clientName}}
      <small class="text-muted">({{getApplicationTypeText()}})</small>
    </h3>
  </div>

  <form [formGroup]="applicationForm">
    <div class="form-group row">
      <label for="clientName" class="col-sm-2 col-form-label"> Client Name: </label>
      <div class="col-sm-10">
        <input type="text" formControlName="clientName" id="clientName" class="form-control" />
      </div>
    </div>
    <div class="form-group row">
      <label for="clientId" class="col-sm-2 col-form-label">Client Id:</label>
      <div class="col-sm-10">
        <input type="text" formControlName="clientId" id="clientId" class="form-control" />
      </div>
    </div>
    <div class="form-group row">
      <label for="clientSecret" class="col-sm-2 col-form-label"> Client Secret: </label>
      <div class="col-sm-10">
        <input type="text" formControlName="clientSecret" id="clientSecret" class="form-control" />
        <small id="clientSecretHelp" class="form-text text-muted">The Client Secret is not base64 encoded.</small>
      </div>
    </div>
    <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label">Description:</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="description" rows="3" formControlName="description"
          placeholder="Add a descriptions"></textarea>
      </div>
    </div>

    <div class="col-12 text-center">
      <button class="btn btn-primary" (click)="saveChanges()">Save Changes</button>
    </div>
  </form>

  <div>debug</div>
  <pre>{{(applicationDebug$ | async | json)}}</pre>
